
.layout {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature {
  padding: 1rem 0;
  width: 350px;
  height: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.feature h3 {
  font-family: "GT Walsheim Pro";
  margin-top: 1rem;
  width: fit-content;
}

.feature h3:hover {
  color: rgb(79, 70, 229);
  background-color: #f4f4f4;
}

.feature p {
  width: fit-content;
}

.feature p:hover {
  color: rgb(79, 70, 229);
  background-color: #f4f4f4;
}

.iconContainer {
  height: 75px;
  width: 75px;
  position: relative;
}

.iconContainer::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  height: 70px;
  width: 70px;
  background-color: #f4f4f4;
  border-radius: 65px;
}

.iconContainer svg {
  height: 70px;
  width: 70px;
  position: relative;
  top: 0;
  z-index: 1;
}


