/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css);
 .heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  background-image: linear-gradient(134.3deg,#1f0c79,#5a43ca 39.99%,#ba74e3);
}
.heroBanner_2 {
  padding: 4rem 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBGImage {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
    background-blend-mode: darken;
  width: 100%;

}

.heroCenterImage {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  width: 50%;
}

.heroLeftImage {
  padding: 4rem 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background: url("@site/static/img/fp_left_header.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
}
.heroRightImage {
  width: 43%;
  height: 100px;
  position: relative;
  top: -47px;
}

.indexImg{
  width: 997px;
  height: 500px;
  margin: auto;
}
.indexImgPhone{
  display: none;
  height: 501px;
  margin: auto;
}
.recruitBanner{
  padding: 0;
  height: 500px;
  background-color: #3227d5;
}
@media screen and (max-width: 1440px) {
  .heroRightImage {
    position:relative;
    top: 21px;
  }
}
@media screen and (min-width: 997px) {
  /* Show inline table of contents on mobile only */
  div[class^='tableOfContentsInline'] {
    display: none;
  }
  div[class^='heroCenterImage'] {
    width: 50%;
  }
}

@media screen and (max-width: 997px) {
  div[class^='heroRightImage'] {
    display: none;
  }
  div[class^='heroLeftImage'] {
    display: none;
  }
  div[class^='heroCenterImage'] {
    width: 100%;
  }
  div[class^='indexImg'] {
    display: none;
  }
  div[class^='indexImg-phone'] {
    display: inline;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

