/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css);
.heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  
  background-image: linear-gradient(134.3deg,#1f0c79,#5a43ca 39.99%,#ba74e3);
  /* 圣诞 */
  /* background-color: #0e2956; */

  height: 502px;
  overflow: hidden;
}
.heroBanner_2 {
  padding: 4rem 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBGImage {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-blend-mode: darken;
  width: 100%;
}
.row{
  display: flex;
  flex-wrap:nowrap;
}
.heroCenterImage {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  /* 圣诞 */
  /* margin-left: 300px; */
}
.heroLeftImage {
  padding: 4rem 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background: url("@site/static/img/fp_left_header.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
}
.heroRightImage {
  /* 原图 */
  width: 43%;
  height: 100px;
  position: relative;
  top: -47px;
  /* 圣诞 */
  /* width: 160%;
  height: 100px;
  position: relative;
  top: -75px;
  left: 100px;
  overflow:visible;
  white-space:nowrap;
  margin-left: 30px; */
}
.tree{
  width: 40%;
  height: 100px;
  margin-left: -200px;
  margin-top: -50px;
  position: relative;
  top: 28px;
}
.indexImg{
  width: 100%;
  max-width: 1390px;
  height: 500px;
  margin: auto;
}
.indexImgbug{
  width: 100%;
  max-width: 2391px;
  height: 502px;
  margin: 0px auto -30px auto;
}
.indexImgPhone{
  display: none;
  height: 501px;
  margin: auto;
}
.indexImgbugphone{
  width: 1000px;
  min-width: 600px;
  height: 502px;
  margin: 0px auto -30px auto;
}
.recruitBanner{
  padding: 0;
  height: 500px;
  background-color: #3227d5;
}
.phonetree{
  display: none;
}
@media screen and (max-width: 1440px) {
  .tree{
    position: relative;
    top: 140px;
  }
  .heroRightImage{
    width: 160%;
    margin-left: -20px;
    position: relative;
    left: 90px;
    top: -25px;
  }
  .heroCenterImage{
    margin-left: 200px;
    width: 400px;
    height: 500px;
  }
}
@media screen and (min-width: 997px) {
  /* Show inline table of contents on mobile only */
  div[class^='tableOfContentsInline'] {
    display: none;
  }
  div[class^='heroCenterImage'] {
    width: 50%;
  }
  div[class^='indexImg-phone'] {
    display: none;
  }
}

@media screen and (max-width: 997px) {
  div[class^='heroRightImage'] {
    display: none;
  }
  div[class^='heroLeftImage'] {
    display: none;
  }
  div[class^='heroCenterImage'] {
    width: 100%;
    margin-left:0px;
    margin-top: 50px;
  }
  div[class^='indexImg'] {
    display: none;
  }
  div[class^='indexImg-phone'] {
    display: inline;
  }
  div[class^='tree'] { 
    display: none;
  }
  /* div[class^='phonetree'] {
    display: inline-block;
    width: 120%;
    position: relative;
    right: 90px;
    top: 200px;
  } */
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

