/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
.tailwind {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind screens;
}
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4e89e8;

  --ifm-color-primary-dark: #31343a;
  --ifm-color-primary-darker: #333538;
  --ifm-color-primary-darkest: #26292d;
  --ifm-color-primary-light: #3b4047;
  --ifm-color-primary-lighter: #3e434b;
  --ifm-color-primary-lightest: #464b55;
  --ifm-code-font-size: 110%;
  --ifm-background-surface-color: #f4f4f5;
  --ifm-link-color:rgb(110, 95, 197);

  /*
  --ifm-font-color-base: hsl(263, 48%, 87%);
*/
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
  --ifm-background-surface-color: #4d4848;
}
.navbar .navbar__items {
  flex: auto;
  color: white;
  border: white;
}