.index-activity{
    width: 98.776vw;
    height: 612px;
    background: #F4F4F4;
    /* display: grid;
    justify-content: center; */
}
.activity-title{
    width: 98.776vw;
    height: 200px;
    display: grid;
    justify-content: center;
    position: relative;
    top: 50px;
} 
.svg-Balloon{
    width: 35px;
    height: 38px;
    position: relative;
    left: 50%;
}
.Recent-Activities{   
    width: 195px;
    height: 19px;
    font-size: 20px;
    font-family: Gilroy;
    font-weight: 800;
    color: #333333;
    line-height: 14px;
    position: relative;
    left: 20%;
    top: -40px;
}
.hr-action{
    width: 111px;
    height: 16px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    position: relative;
    left: 30%; 
    top: -70px;
}
.activity-content{
    width: 85vw;
    height: 70%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10vw;
}
.content-pgconf{
    width: 403px;
    height: 363px;
    position: relative;
    right: 40px;
    background: #FFFFFF;
    border-radius: 5px;
}
.content-oneday{
    width: 403px;
    height: 363px;
    background: #FFFFFF;
    border-radius: 5px;
}
.activity-content img{
    width: 374px;
    height: 159px;
}
.actionimg-pgconf{
    position: relative;
    left: 15px;
    top: 15px;
}
.actionimg-oneday{
    position: relative;
    left: 15px;
    top: 15px;
}
.activity-content-title{
    width: 330px;
    height: 13px;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 1000;
    color: #333333;
    line-height: 14px;
    position: relative;
    top: 30px;
    left: 22px;
}
.activity-content-title-small{
    width: 163px;
    height: 9px;
    font-size: 1.6vh;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    position: relative;
    top: 38px;
    left: 22px;
}
.activity-content p{
    width: 355px;
    height: 22px;
    font-size: 1.5vh;
    font-family: Microsoft YaHei;
    font-weight: 100;
    color: #999999;
    line-height: 14px;
    position: relative;
    top: 60px;
    left: 22px;
}
/* .content-oneday p{
    width: 355px;
    height: 22px;
    font-size: 0.1px;
    font-family: Microsoft YaHei;
    font-weight: 100;
    color: #999999;
    line-height: 14px;
    position: relative;
    top: 60px;
    left: 22px;
} */
.activity-content #link-pgconf{
    width: 73px;
    height: 26px;
    background: #FFD673;
    border-radius: 3px;
    border: 1px;
    position: relative;
    left: 43%;
    position: relative;
    left: 22px;
    top: 90px;
}
#link-pgconf span{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 1.6vh;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    left: -50%;
    top: -30%;
}
#link-pgconf div{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 1.6vh;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    top: -30%;
    right: 1%;
}
#link-pgconf:hover{
    background-color: #F9BB30;
}
.activity-content #link-oneday{
    width: 73px;
    height: 26px;
    background: #FFD673;
    border-radius: 3px;
    border: 1px;
    position: relative;
    left: 43%;
    position: relative;
    left: 22px;
    top: 90px;
}
#link-oneday span{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 1.6vh;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    left: -50%;
    top: -30%;
}
#link-oneday div{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 1.6vh;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    top: -30%;
    right: 1%;
}
#link-oneday:hover{
    background-color: #F9BB30;
}
@media screen and (max-width: 997px) {
    .index-activity{
        width: 100%;
        height: 1000px;
        display: grid;
        justify-content: center;
    }
    #activity-title{
        width: 100%;
        /* height: 40%; */
        display: grid;
        justify-content: center;
        position: relative;
        left: -10px;
    }
    .activity-content{
        width: 80%;
        /* overflow: hidden; */
        /* height: 40vh; */
        display: grid;
        justify-content: center;
        align-items: center;
        /* position: relative;
        top: -4px;
        left: 25%; */
    }
    .activity-content img{
        width: 90%;
        position: relative;
        left: 5%;
    }
    .activity-content p{
        width: 80%;
    }
    .content-pgconf{
        position: relative;
        left: 4%;
    }
    .content-oneday{
        position: relative;
        left: 4%;
    }
    .content-pgconf .activity-content-title{
        width: 80%;
        position: relative;
        top: 12px;
    }
    .content-pgconf .activity-content-title-small{
        position: relative;
        top: 4px;
    }
    .content-pgconf p{
        position: relative;
        top: 5px;
    }
    .content-pgconf #link-pgconf{
        position: relative;
        top: 5px;
    }
    .activity-content .content-pgconf{
        width: 90%;
        position: relative;
        top: -50px;
        display: grid;
        justify-content: center;
    }
    .activity-content .content-oneday{
        width: 90%;
        position: relative;
        right: 40px;
    }
}
@media screen and (max-width: 607px) {
    .content-pgconf{
        position: relative;
        left: 6%;
    }
    .content-oneday{
        position: relative;
        left: 6%;
    }
}